<header>
	<nav>
		<ul>
		  <li>Street Fighter 2</li>
		  <li>NHL 2013</li>
		  <li>FIFA 2013</li>
		</ul>
	</nav>
</header>

<h1>Street Fighter 2 Championship Edition</h1>

<section>
	<article>
		<header>Player Name</header>
	</article>
	<article>
		<header>Player Name</header>
	</article>
	<article>
		<header>Player Name</header>
	</article>
</section>

<footer>
	<p>Clio's Lerdehrberd</p>
</footer>