@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Global variables
$primary-color:#edd460;
$secondary-color:#B3B3B1;
$list-default-color:#fff;
$list-hover-color:#f8f8f8;
$border-color:#f4f4f4;
$red: #d8433b;

$global-radius: 5px;

// Header styles
$header-font-family: "Gibson", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 600;
$header-font-style: normal;
$header-font-color: $primary-color;
$header-line-height: 3em;

body {
  background: #d5be56;
  color: #333;
  font-family: $header-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 600;
}

h1 { margin: 1rem 0 1rem 0; }
h2 { margin: 1rem 0 1rem 0; }
h3 { margin: 1rem 0 1rem 0; line-height: 30px; }
h4 { margin: 1rem 0 1rem 0; }
h5 { margin: 1rem 0 1rem 0; }
h6 { margin: 1rem 0 1rem 0; }

header {
  background: #edd460;
  padding: 60px 0 70px 0;
  h1 {
    background-color: rgb(237, 212, 96);
    height: 100%;
    width: 100%;
    font-size: 4.6875rem;
    text-align: center;
  }
  nav {
    padding: 0 0 0 0;
  }
}
.button {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  font-weight: normal; 
  margin: 0;
}
.leaderboard {
  background: #edd460;
  padding: 0px 0 0 0;
}

ol {
  background: #fff;
  border-radius: 12px;
  margin-bottom: 0px;
  li {
    background: #fff;
    border-bottom: solid 2px $border-color;
    list-style: none;
    padding: 1rem 1.25rem;
    position:relative;
    h3 {
      margin: 0;
      float:left;
    }
    .user-controls {
      float: right;
      font-size: 16px;
      font-weight: normal;
      margin-left: 15px;
      a {
        color: #ccc;
        margin-left: 15px;
        &:hover {
          color: #666;
        }
      }
    }
    .user-delete-confirmation {
      display: none;
      position: absolute;
      top: 10px;
      right:20px;;
      .button {
        background: $red;
      }  
      .button.secondary {
        margin-left: 10px;
        background: #ccc;
      }
    }
    &:first-child {
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    }
    &:last-child {
    -webkit-border-bottom-right-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    }
    &:hover {
      background-color: $list-hover-color;
      cursor: move;
      &:hover h3 {
      }
    }
    .position {
      background: #d8433b;
      border-radius: $global-radius;
      color: #fff;
      display: block;
      float: left;
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      height: 30px;
      line-height: 30px;
      margin-right: 20px;
      text-align: center;
      vertical-align: middle;
      width: 30px;
    }
  }
  .ui-sortable-helper {
    background: $list-hover-color;
  }
}

.add-name {
  background: #edd460;
  h3 {
    text-align: center;
  }
  .row {
    padding: 50px 0;
  }
}

#flash-messages {
  background: #d8433b; 
}

.notice {
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
}

.row ol .row {
   margin: 0;
}

.center {
  text-align: center;
}

.game-logo {
  margin: 0 auto;
  display: block;
}

.notice {
  background: #18A440;
  color: #fff;
  padding: 30px;
}

form {
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #fff;
  border-color: #EDEDED;
  border-image: none;
  border-radius: $global-radius;
  border-style: none none solid;
  border-width: medium medium 2px;
  box-shadow: none;
  color: #333;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2.8125rem;
  height: 2.8125rem;
  padding: 0.5rem;
  text-shadow: none;
  &:focus {
    background: #f4f4f4;
    box-shadow: none;
  }
}

form.custom .custom.dropdown {
  background-clip: padding-box;
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #ededed;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  ul {
    li.selected {
      background: #3a7abd;
      color: #fff;
      &:hover {
        background: #3a7abd;
        color: #fff;
      }
    }
  }
}

input[type="submit"] {
  background: #3a7abd;
  border: {
    color: #2e6297;
    radius: $global-radius;
    style: none none solid;
    width: medium medium 2px;
  }
  box-shadow: none;
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0 auto;
  padding: 0.625rem 1.25rem;
}

.ui-sortable-helper {
  background-color:#f8f8f8;
}
.ui-state-highlight {
  height:65px;
}

footer {
  padding: 20px 0 20px 0; 
  text-align: center;
}

@media only screen and (max-width: 35em) {

header {
  h1 {
    font-size: 3rem;
  }
}

}