<!DOCTYPE html>
<html>
<head>
  <title>Lerdehrberd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav class="row">
		<div class="small-12 large-12 columns">
			<select>
				Select A Game
			  <option>Street Fighter 2</option>
			</select>
		</div>
	</nav>
</header>

<div class="row">
	<div class="small-12 large-12">
		<h1>Street Fighter 2 Championship Edition</h1>
	</div>
</div>

<section>
	<div class="row">
		<ol class="lerdehrberd streetfighter">
			<li>
					<h3>Stephen Phung</h3>
			</li>
			<li>
					<h3>Kyle Demeule</h3>
			</li>
			<li>
					<h3>Jason LaRiviere</h3>
			</li>
		</ol>
	</div>
</section>

<%= yield %>

</body>

</html>
