<!DOCTYPE html>
<html>
<head>
  <title>Lerdehrberd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		<div class="row">
			<div class="small-12 columns">
				<select>
					Select A Game
				  <option>Street Fighter 2</option>
				</select>
			</div>
	</div>
	</nav>
</header>

<h1>Street Fighter 2 Championship Edition</h1>

<section>
	<article>
		<div class="small-12 columns">
			<header>Stephen Phung</header>
		</div>
	</article>
	<article>
		<div class="small-12 columns">
			<header>Kyle Demeule</header>
		</div>
	</article>
	<article>
		<div class="small-12 columns">
			<header>Jason LaRiviere</header>
		</div>
	</article>
</section>

<%= yield %>

</body>

</html>
